.additional-product__title {
  text-transform: uppercase;
  margin-bottom: 15px;

  @include font-oswald-regular(16, 16);
}

.additional-product__item {
  border-top: 1px solid $grey-light;
  padding: 20px 0;
  box-sizing: border-box;
}

.additional-product__list {
  border-bottom: 1px solid $grey-light;
}

.additional-product__button {
  width: 100%;
}

.additional-product__options {
  width: 100%;
  margin-bottom: 15px;

  td {
    padding: 2px 0;
    color: $grey-bitumen;

    @include font-arial(14, 14);
  }
}
