.advantage-group__list {
  padding: 0 0 22px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
}

.advantage-group__item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  &::before {
    content: "";
    min-width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-theme;
    background-repeat: no-repeat;
    margin-right: 20px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      margin-bottom: 30px;
    }
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center;
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-position: center;
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-position: center;
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-position: center;
  }

  @media only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
    &--leaf::before {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50%;
    }

    &--powder::before {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50%;
    }

    &--dining::before {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50%;
    }

    &--clock::before {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50%;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    padding: 10px 20% 10px 10px;
    flex-direction: column;
    min-height: 280px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 118px;
      height: 280px;
      z-index: -1;
    }

    &--leaf::after {
      content: "1";
      color: $grey-limestone;

      @include font-oswald-regular(280,280);
    }

    &--powder::after {
      content: "2";
      color: $grey-limestone;

      @include font-oswald-regular(280,280);
    }

    &--dining::after {
      content: "3";
      color: $grey-limestone;

      @include font-oswald-regular(280,280);
    }

    &--clock::after {
      content: "4";
      color: $grey-limestone;

      @include font-oswald-regular(280,280);
    }
  }

  @media (min-width: $desktop-width) {
    width: 25%;
    padding: 20px;
  }
}
