.card-product {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $grey-light;
  padding: 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 430px;
    background-color: $grey-limestone;
    margin-top: 140px;
    border: none;
    padding: 40px;
    margin-left: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
  }
}

.card-product__details {
  display: flex;
  flex-direction: row;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    position: relative;
  }
}

.card-product__image-wrapper {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media (min-width: $tablet-width) {
    width: auto;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: -120px;
    flex: 1 1 auto;
  }
}

.card-product__title {
  color: $color-black;
  text-transform: uppercase;
  padding-right: 40px;

  @include font-oswald-regular(16, 20);

  @media (min-width: $tablet-width) {
    padding-right: 0;
    width: 156px;
    margin: 0 auto;

    @include font-oswald-regular(20, 24);
  }
}

.card-product__title-wrapper {
  display: block;
  margin-bottom: 14px;
}

.card-product__description {
  width: 50%;

  @media (min-width: $tablet-width) {
    width: 100%;
    text-align: center;
    margin: 30px 0;
  }
}

.card-product__button {
  width: 100%;
}

.card-product__options {
  width: 100%;

  tr {
    @media (min-width: $tablet-width) {
      border-bottom: 1px solid $grey-middle;
    }
  }

  td {
    padding: 2px 0;
    color: $grey-bitumen;

    @include font-arial(12, 16);

    @media (min-width: $tablet-width) {
      @include font-arial(16, 16);

      height: 32px;
      line-height: 32px;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}
