.menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $grey-limestone;

  @media (min-width: $tablet-width) {
    background-color: $color-white;
    justify-content: flex-end;
    flex-direction: row;
    flex-grow: 1;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    z-index: 5;
    background-color: transparent;
  }
}

.menu-header__item {
  width: 100%;
  text-transform: uppercase;
  color: $color-black;
  border-bottom: 1px solid $grey-light;
  padding: 16px 0;
  text-align: center;

  @include font-oswald-regular(16, 18);

  @media (min-width: $tablet-width) {
    width: auto;
    border: none;
    margin-left: 30px;
    padding: 16px 0 10px;

    &--selected {
      border-bottom: 1px solid $main-theme;

      &:hover {
        opacity: 1;
      }
    }
  }

  @media (min-width: $desktop-width) {
    color: $color-white;

    &:hover {
      opacity: 0.8;
    }

    &:focus {
      opacity: 0.5;
    }
  }
}

