.page-form__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.page-form__field-name {
  text-transform: uppercase;
  color: $grey-bitumen;
  margin-right: 14px;

  @include font-oswald-regular(16, 18);
}

.page-form__description {
  margin-bottom: 50px;
  text-transform: uppercase;

  @include font-oswald-regular(14, 18);
}

.page-form__fields-list {
  padding: 30px 0 20px;
  border-top: 1px solid $grey-mouse;
  border-bottom: 1px solid $grey-mouse;
}

.page-form__fields-items {
  margin-bottom: 24px;
}

.page-form__textarea {
  width: 280px;
  height: 150px;

  @include form-element();
}

.page-form__input-text {
  height: 45px;
  padding: 0 15px;
  text-transform: uppercase;
  color: $grey-bitumen;
  flex: 1 1 auto;

  @include font-oswald-regular(16, 18);
  @include form-element();
}

.page-form__input-checkbox {
  width: 30px;
  height: 30px;
  margin-right: 16px;

  @include form-element();
}

.page-form__input-radio {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 16px;

  @include form-element();
}

.page-form__button {
  width: 100%;
  margin: 34px 0 20px;
}

.page-form__text-general {
  text-align: center;
  margin: 0 0 32px;
  color: $color-black;
}
