.section-example {
  background: $grey-mouse;
  padding: 20px;

  @media (min-width: $desktop-width) {
    padding: 20px 0;
  }
}

.section-example__list {
  margin: 25px 0 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-example__item {
  width: 124px;
  height: 60px;
  border: 1px solid $grey-middle;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  @include font-oswald-regular(24, 24);

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;

    @include font-oswald-regular(30, 37);

    &:first-child {
      margin-right: 42px;
    }
  }
}

.section-example__sub-text {
  position: absolute;
  bottom: -20px;
  top: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 82px;
  text-align: center;
  background: $grey-mouse;
  padding: 5px;
  text-transform: lowercase;

  @include font-arial(12, 12);

  @media (min-width: $tablet-width) {
    bottom: -8px;
    width: 120px;
    background: $color-white;
    padding: 3px;
  }
}

.section-example__result {
  margin: 0 0 42px;
  text-align: center;
  text-transform: uppercase;

  @include font-oswald-regular(14, 20);

  @media (min-width: $tablet-width) {
    width: 180px;
    text-align: right;
    margin: 0;

    @include font-oswald-regular(20, 28);
  }
}

.section-example__slider {
  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }
}

.section-example__slider-button {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  color: $color-black;

  @include font-oswald-regular(16, 20);
}

.section-example__slider-control {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 0 20px;
}

.section-example__slider-image {
  @media (min-width: $tablet-width) {
    margin-top: -148px;
  }
}

.section-example__slider-progress-bar {
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: 1px solid $grey-middle;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 12px;

  &::after {
    content: "";
    width: 35px;
    height: 6px;
    position: absolute;
    background: $main-theme;
    border-radius: 6px;
    margin: 0 6px;
  }

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    background: $grey-light;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      width: 34px;
      height: 34px;
      border-radius: 100%;
      background: $color-white;
      border: 1px solid $grey-light;
      top: -14px;
    }
  }
}

.section-example__description {
  @media (min-width: $tablet-width) {
    background: $color-white;
    margin: -20px;
    display: flex;
    width: 100vw;
    border-top: 1px solid $grey-mouse;
  }
}

.section-example__options {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 54px auto 255px;
  }
}
