.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21px 20px;
  border-bottom: 1px solid $grey-light;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social-list__item {
  margin: 0 21px;
}

.social-list__icon {
  display: block;
}
