.page,
body {
  height: 100%;
}

.page__title-large {
  margin-bottom: 36px;
  margin-top: 27px;

  @include font-oswald-regular(36, 40);
}

.page__title-middle {
  margin-bottom: 35px;
  margin-top: 28px;

  @include font-oswald-regular(24, 24);
}

.page__text-general {
  color: $grey-bitumen;

  @include font-arial(14, 18);
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-inner {
  flex: 1 1 auto;
}

.page-container {
  width: 100%;
}

.page-container__inner {
  width: 100%;
  max-width: 320px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
